.bgContato {
    background-image: url('../img/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.contato-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background: #7b1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: white;
}

.contato-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.contato-description {
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    font-size: 1rem;
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.btn-enviar {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #0056b3;
}

